.parent{
   
}
.parent-right-header{
    max-width: 100%;
    height: 30px;
    font-size: 19px;
    background-color: #F5F5F5;
    position: absolute;
    right: 0;
    left: 0;
    padding-left: 20px;
    margin-top: 10px;
}
.parent-left{

    float: left;
    background-color: #1E4E70;
    color: white;
    
    
    /*begin let an empty div fill hieght*/
    position: fixed;
    top: 0;
    left: 0;

    bottom: 0;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    /*End*/

}
.parent-left:hover{
    background-color: #1d425c;
}
.parent-ancre{

    margin-top: 100px;
    
}
article{
    color: white;
}
.parent-left>.parent-ancre>article>p>a{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    padding-top: 15px;
    font-size: 16px;
    cursor: pointer;
    
}
.parent-left>.parent-ancre>p{
    margin-top: 15px;
    padding-top: 15px;
}

.parent-right{
    float: right;
    background-color: white;
    height: 100%;
    margin-left: 130px;
    /*begin let an empty div fill hieght*/
    top: 0;
    right: 0;
    padding: 20px;
    position: absolute;
    /*End*/
    
}

.lien{
    text-decoration: none;
}
.lien:hover{
    color: #008a00 !important;
    transition: 1000ms !important;
}

