col{
    background-color: #156AE9;
    background-color: #dcdfe5;
    background-color: #515b67;
    background-color: #1d76da;
    background-color: #515b67;
    background-color: #dcdfe5;
    background-color: #1d76da;
    background-color: #1e4e70;
    background: rgba(30,78,112,0.2);
    background-color: rgba(30,78,112,0.1);
    background-color:  #89b875;
    background-color: #296a98;
    color: #0000;
    color: #E4E2E1;
    color:#2B6AE4;
    box-shadow: #0984E3;
}

title{
    color: #3333;
}